@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hidden {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #FFF7F6;
}

.scroll_down {
  height: 50px;
  width: 30px;
  position: absolute;
  left: 50%;
  bottom: 20px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 90;
}

.scroll_down::before,
.scroll_down::after {
  content: "";
  position: absolute;
  top: 20%;
  left: 50%;
  height: 15px;
  width: 15px;
  transform: translate(-50%, -100%) rotate(45deg);
  border: 2px solid #FFF7F6;
  border-top: transparent;
  border-left: transparent;
  animation: scroll_down 1s ease-in-out infinite;
}

.scroll_down::before {
  top: 30%;
  animation-delay: 0.3s;
  /* animation: scroll-down 1s ease-in-out infinite; */
}

@keyframes scroll_down {
  0% {
    /* top:20%; */
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  60% {
    opacity: 1;
  }

  100% {
    top: 90%;
    opacity: 0;
  }
}